---
import Analysis from '@assets/features/analysis.svg'
import Community from '@assets/features/community.svg'
import NoSignIn from '@assets/features/no-sign-in.svg'
import { GlassWrapper } from '@components/common'
import { Image } from 'astro:assets'
import { tailwindDelays } from '@utils/tailwindDelays'
import { twMerge } from 'tailwind-merge'

const features = [
	{
		title: 'Easy to understand statistics ',
		description: 'Understand your performance and your impact on Bluesky',
		image: Analysis,
	},
	{
		title: 'Get to know your community',
		description: 'See your followers and their interests',
		image: Community,
	},
	{
		title: 'No sign in required',
		description: 'Built using the free Bluesky API and @atproto ',
		image: NoSignIn,
	},
]
---

<section id="features" class="mt-16 w-full">
	<h2 class="w-full text-center text-xl md:text-3xl">What's in store for you?</h2>
	<div id="feature-content-wrapper" class="mt-4 flex flex-col gap-8 lg:flex-row lg:gap-4">
		{
			features.map((feature) => {
				const featureClass = twMerge(
					tailwindDelays[features.indexOf(feature)],
					'motion-preset-slide-right flex flex-row-reverse gap-4 p-2 lg:w-1/3 lg:flex-col lg:items-center'
				)

				return (
					<div class={featureClass}>
						<GlassWrapper>
							<Image src={feature.image} alt={feature.title} class="h-40 p-2" />
						</GlassWrapper>
						<div class="w-full">
							<h3 class="w-full text-left text-base text-sky-600 md:text-lg">
								{feature.title}
							</h3>
							<p class="w-full text-left text-sm md:text-base">
								{feature.description}
							</p>
						</div>
					</div>
				)
			})
		}
	</div>
</section>
