---
export const prerender = false

import PageLayout from '../../layouts/PageLayout.astro'
import { getFollowerPercentageAsCharArray } from '@utils/getFollowerPercentageAsCharArray'
import { FollowerPercentageDetails, ProfileBanner, RawStats } from '@components/FollowerPage'
import { GlassWrapper, StatsTitle } from '@components/common'

Astro.response.headers.set('Cache-Control', 'public, max-age=300')

type jazcoAPIResponse = {
	total_users: number
	updated_at: Date
}

type userDataResponse = {
	displayName: string
	followersCount: number
	followsCount: number
	postsCount: number
	avatar: string
	banner?: string
}

const { id } = Astro.params
// get user data from bluesky public api

// TODO: handle no user found and redirect accordingly

const userResponse = await fetch(
	`https://public.api.bsky.app/xrpc/app.bsky.actor.getProfile?actor=${id}`
)

const {
	displayName,
	followersCount: userFollowers,
	followsCount,
	postsCount,
	avatar,
	banner,
} = (await userResponse.json()) as userDataResponse

// fetching current user count on bluesky
const response = await fetch('https://bsky-search.jazco.io/stats')
const { total_users: totalUsers, updated_at: lastUpdated } =
	(await response.json()) as jazcoAPIResponse

const followerPercentageAsArray = getFollowerPercentageAsCharArray({
	userFollowers,
	totalUsers,
})
---

<PageLayout title="Bluesky Follower Stats - User">
	<div
		id=`follower-information-${id}`
		class="flex w-full max-w-5xl flex-col items-center justify-center gap-8"
	>
		<ProfileBanner displayName={displayName} avatar={avatar} banner={banner} id={id} />
		<div class="w-full">
			<StatsTitle
				displayTitle="Follower Percentage"
				tooltip="This card shows the amount of users that are following you divided by the total number of bluesky users in a percentage form"
				client:load
			/>
			<GlassWrapper>
				<FollowerPercentageDetails
					id={id}
					followerPercentageAsArray={followerPercentageAsArray}
					totalUsers={totalUsers}
				/>
			</GlassWrapper>
		</div>
		<RawStats />

		<a class="mt-4 underline transition-colors hover:text-sky-600" href="/"
			>&larr; Search again 🚀
		</a>
	</div>
</PageLayout>
