---
import '@fontsource/outfit'
import '@fontsource/domine'
import background from '@assets/background.svg'
const { title } = Astro.props
import { ClientRouter } from 'astro:transitions'

const navbarLinks = [
	{
		name: 'home',
		href: '/',
		newTab: false,
	},
	{
		name: 'github',
		href: 'https://github.com/Joecey/bsky-follower-stats',
		newTab: true,
	},
]
---

<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<nav class="flex w-full justify-center gap-4 py-4">
		{
			navbarLinks.map((link) => {
				return (
					<a
						href={link.href}
						target={link.newTab ? '_blank' : '_self'}
						class="text-lg transition-colors hover:text-sky-600"
					>
						{link.name}
					</a>
				)
			})
		}
	</nav>
	<body>
		<main class="flex h-screen flex-col items-center px-2 prose-headings:font-heading sm:mt-36">
			<!-- cool svg background goes here  -->
			<img
				id="background"
				class="fixed left-0 top-0 z-[-1] h-full w-full blur-3xl"
				src={background.src}
				alt=""
				fetchpriority="high"
			/>
			<slot />
		</main>
	</body>
</html>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
